*{
  margin: 0;
  padding: 0;
}

.hero{
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(../images/mainimg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav{
  position: relative;
  display: flex;
  width: 100%;
  height: 130px;
  
}

.logo{

  position: relative;
  display: flex;
  float: left;
  width: 20%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: bisque;

}

.logo span{
  color: aqua;
}

.menu{
  position: relative;
  display: flex;
  float: right;
  margin: auto;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

.menu ul{
  display: flex;
  list-style: none;
}

.menu ul li{
  margin:  20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  border-radius: 5px;
  text-decoration: none;
  color: yellow;
}


.menu ul li a{    
  text-decoration: none;
  color: #FFD700;
}


.talent-recruiter{
  position: relative;
  display: flex;
  width: 100%;
  color: yellow;
  
}

.talent-recruiter ul{
  display: flex;
  list-style: none;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  /* padding: 100px; */
}

.talent-recruiter ul li{
  padding-left: 70px;
  padding-right: 190px;
  padding-top: 50px;
}

.talent{
  margin-right: 850px;
  color: rgb(92, 165, 249);
}

.home-button h2{

  color: white;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  padding-top: 120px;
}

.smart-tech{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.smart-tech-01{

  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  
}

.smart-tech-desc{

  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  
  align-items: center;
  width: 60%;
  height: 100%;
  color: white;
  /* background-color: green; */
}

.smart-tech-desc h1 {
  text-align: center;
}

.smart-tech-desc ul{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 60%;
  font-size: 17px;
}

.smart-tech-desc ul li{
  padding: 15px;
}


.smart-tech-image{

  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: -20px;
  /* background-color: green; */
  color: rgb(255, 255, 255);

}


.image-border{
  position: relative;
  width: 100%;
  /* height: 90%; */
  background-color: white;
  /* height: 90%; */
}

.image-border img
{
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  width: 97%;
  height: 95%;
  padding-top: 7px;

}

.smart-tech-image h1{
  position: relative;
  color: rgb(92, 165, 249);
  margin-top: 15px;
  
}

.smart-tech-02{
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;

}

.career{

  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.career-image{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  
  /* background-color: red; */
  
}

.career-image img{
  width: 90%;
  height:fit-content;
  border: 15px solid rgb(255, 255, 255);
}

.career-desc{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: aqua; */
}

.career-buttons ul{
  display: flex;
  list-style: none;
}


.career-buttons ul li{
  padding: 40px;
  border-radius: 20px;
  background-color: rgb(51, 51, 51);
  margin: 5px;
  color: yellow;
}

.career-ul{
  font-size: 20px;
}


.career-ul ul li{
  margin-top: 50px;
}



.nurture{
  position: relative;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}


.nurture-01{
  width: 30%;
  border: 20px solid white;
  margin: 35px;
}


.nurture-02{

  width: 30%;
  color: white;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  padding-right: 520px;

}

.nurture-03{

  width: 30%;
  border: 20px solid white;
  margin: 35px;  
  height: 32vh;  

}
.nurture-03 img{
  
  position: relative;
  width: 100%;
  height: 19rem;
}


.nurture-01 img{
  position: relative;
  width: 80%;
  height: 30rem;

  
}




.headquarter{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.head01{
  position: relative;
  display: flex;
  width: 62%;
  color: white;
}

.headmain{
  position: relative;
  width: 100%;
}

.email-phone
{
  position: relative;
  display: flex;
  flex-direction: column;
  color: yellow;
  width: 20%;
  border-left: 65px solid black;
}

.head02{
  position: relative;
  display: flex;
  width: 75%;
  color: white;
}

.head02-image1{
  position: relative;
  display: flex;
  width: 77%;
}

.image11 img{
  position: relative;
  width: 100%;
  height: 300px;
  /* border-left: 15px solid black; */

}


.image12 img{
  position: relative;
  width: 100%;
  height: 300px;
  margin-left: 22%;
}

.head02-image2{

  position: relative;
  display: flex;
  width: 18%;
  margin-left: 1%;

}

.head02-image2 img{

  position: relative;
  width: 100%;
  height: 300px;
  /* border-left: 15px solid black; */
}

.head03{

  width: 72%;
  height: 50px;
  background-color: rgb(92, 165, 249);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: -2.97%;
}


